.app {
  margin: 0 40px 0 40px;
}

.search-section {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: rgb(22, 22, 22);
  background-color: white;
  justify-content: space-between;
  border: 1px solid rgb(70, 70, 70);
}

.borderRadius-2 {
  border-radius: 40px;
}

.search-input-section {
  width: 90%;
}

.image-label {
  margin-right: 20px;
  padding-left: 20px;
}
.search-input-section input {
  width: 100%;
  outline: none;
  height: 41px;
  border: none;
}

.icon-button {
  padding: 12px;
  width: 20px;
  border-radius: 100px;
  text-align: center;
}

.icon-button:hover {
  cursor: pointer;
  background-color: #f1ffff;
}
